* {
    margin: 0px;
    padding: 0px;
    color: black;
}
#list {
    background-color: gray;
}
#header-nav {
    background-color: gray;
    height: 65px;
}
.navbar-brand h1{
    color: black;
    margin-top: -4%;
}
.info {
    background-color: gray;
    margin: 10px;
}
#chicken {
    padding: 20px 10px;
}
#menu {
    margin-bottom: 50px;
}
.more-info {
    padding: 10px;
}
@media(max-width:772px) {
    #list {
        /* background-color: white; */
        /* margin-top: 11px; */
        /* border: 2px solid black; */
        margin: 0px;
        padding: 0px;
        border: none;
    }
    #ul1 {
        border: none;
        margin: 0px;
        padding: 0px;
        background-color:white;
    }
    #list ul {
        /* margin: 0px;
        padding: 0px; */
        /* width: 100%; */
    }
    #list ul li a {
        color: black;
    }
    ul.navbar-nav li {
        border: 2px solid black;
        /* background-color: black; */
    }
}